
<nav>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <div class="logo">
          <img src="../../assets/images/logo.png" alt="logo" width="100" height=auto>
        </div>
        <h4>GitHub App</h4>
        <div class="menu">
          <ul>
            <li><a routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">Home</a></li>
            <li><a routerLink="/aboutUs" routerLinkActive="active-link">About Us</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>
</nav>
