*{
  padding: 0;
  margin:0;
}
@import "~bootstrap/dist/css/bootstrap.css";
nav{
  background-color: black;
}
nav img{
  height: 40px;
  width: auto;
}
.logo{
  float: left;
  padding-top:10px;
  padding-bottom:10px;
}
h4{
  padding: 0;
  margin: 0;
  float: left;
  color: #e3f2fd;
  margin-left: 30px;
  margin-top:15px;
}
.menu{
  float: right;
  margin-top:18px;
  margin-right:4px;
  font-weight: bold;
}
.menu li {
  display: inline-block;
}
.menu li a{
  color: #959595;
  text-decoration: none;
}
.menu li a.active-link{
  color: #C1CDD6;
}
.menu li:last-child{
  margin-left: 15px;
}
