
<div class="container-fluid">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <div class="main">
        <h2>About us</h2>
        <div class="text-block">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus animi architecto, aut, beatae dolores ea enim esse eum eveniet impedit magnam mollitia necessitatibus pariatur recusandae veniam. Alias odit
            pariatur voluptates? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, praesentium, voluptates. Aliquam asperiores atque earum eligendi enim fugit itaque labore non quas voluptatibus.</p> <p>Delectus
            dolore doloremque est libero quod, voluptate? Lorem ipsum dolor sit amet, consectetur adipisicing elit. At consequatur delectus itaque, magnam molestiae mollitia nesciunt quae, quas, reiciendis repellat saepe sunt
            tempora totam unde veritatis voluptas voluptatibus? Eligendi, neque? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus delectus fugit ipsa ipsum minus neque quas quasi, quis ullam veniam. Debitis delectus dolores dolorum exercitationem maiores numquam officiis similique voluptas.</p>
        </div>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>
